*{
    margin: 0%;
    padding: 0%;
}

#container{
    background-color: brown;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock{
    background-color: darkgoldenrod;
    font-family: 'Lucida Sans';
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 25px;
}